* {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
  background-color: burlywood;
  padding: 20px;
  width: 400px;
  position: relative;
}
p {
  color: white;
  font-size: larger;
}
.display {
  float: left;
  width: 90%;
  height: 30px;
  background-color: brown;
  margin: 8px;
}
button {
  padding: 0.5rem;
  margin: 20px;
  border: 0 solid;
}
.center {
  margin: 0 auto;
}
